<!DOCTYPE html>
<html>
    {% block head %}
        {{ include("NastycodeFrontBundle::head.html.twig") }}
    {% endblock %}
    
    <body>

        
        {% block body %}
        {% endblock %}

        {% block footer %}
            {{ include("NastycodeFrontBundle::footer.html.twig") }}
        {% endblock %}
        
        {% block javascripts %}
            {{ include("NastycodeFrontBundle::javascripts.html.twig") }}
        {% endblock %}
    </body>
</html>
