section.myAccount {
	.infoUser {
		margin:auto;
		text-align:center;
		@media #{$medium-up} {
			margin-top:10em;
		}
		.userPic {
			display:block;
			width:150px;
			height:150px;
			margin:auto;
			border-radius:75px;
			background:$primary-color;
			box-shadow:0 0 0 10px $secondary-color;
			@media #{$medium-up} {
				display:inline-block;
				margin-right:20px;
				margin-left:160px;
			}
			img {
				width:150px;
				height:150px;
				border-radius:75px;
			}
		}
		.user {
			display:block;
			margin-top:20px;
			vertical-align:middle;
			@media #{$medium-up} {
				display:inline-block;
				margin:0;
				padding-left:10px;
				text-align:left;
			}
			p {
				margin-bottom:0;
			}
			h2:hover:after,
			p:hover:after {
				position:absolute;
				margin-left:10px;
				content:'edit';
			}
			a {
				color:inherit;
			}
		}
	}
	.statsUser {
		margin-top:20px;
		text-align:center;
		@media #{$medium-up} {
			margin-top:5em;
		}
		.circleStat {
			font-size:2.5em;
			display:block;
			width:100px;
			height:100px;
			margin:15px auto;
			text-align:center;
			vertical-align:middle;
			color:$white;
			border-radius:50px;
			background:darken($primary-color, 15%);
			& a {
				display:block;
				width:100px;
				height:100px;
				padding-top:20px;
				color:inherit;
				outline:none;
			}
			&.active {
				color:$white;
				box-shadow:0 0 0 8px $secondary-color;
			}
			@media #{$medium-up} {
				display:inline-block;
				margin:0 20px;
			}
		}
	}
	.tabs-content {
		.content ul {
			list-style:none;
			li {
				display:inline-block;
				margin: 10px;
				.userPics {
					display: inline-block;
					width:50px;
					height:50px;
					border-radius:25px;
					background:darken($primary-color, 15%);
					img {
						width:50px;
						height:50px;
						border-radius:25px;
					}
				}
				h3{
					display: inline-block;
					vertical-align: bottom;
					small{
						color: $primary-color-dark;
					}
				}
			}
		}
	}
}
