body{
	background: $snow;
}

section.fullWidth{
	width: 100%;
	height: 90%;
	padding: 20px;
}

section.orange{
	background: $primary-color;

	.button{
		background: $primary-color;
		border-color: $secondary-color;
		color: $secondary-color;
		&:hover{
			background: darken($primary-color, 10%);
		}
	}
}

section.darkBlue{
	background: $quaternary-color;

	.button{
		background: $quaternary-color;
		border-color: $secondary-color;
		color: $secondary-color;
		&:hover{
			background: darken($quaternary-color, 10%);
		}
	}
}
