body {
	background:$snow;

	@include box-sizing();
}

section.fullWidth {
	width:100%;
	height:90%;
}

section.orange {
	background:$primary-color;
	.button {
		@include button($button-med, $primary-color, true, false, false, false, darken($primary-color, 10%), $secondary-color, true, $secondary-color);
	}
	p {
		color:$primary-color-dark;
	}
}

section.yellow {
	background:$secondary-color;
	.button {
		@include button($button-med, $secondary-color, true, false, false, false, darken($secondary-color, 10%), $secondary-color, true, $secondary-color);
	}
	p {
		color:$primary-color;
	}
}

section.grey {
	background:$smoke;
	.button {
		@include button($button-med, $smoke, true, false, false, false, darken($smoke, 10%), $jumbo, true, $jumbo);
	}
	p {
		color:$jumbo;
	}
}

section.darkBlue {
	background:$quaternary-color;
	.button {
		@include button($button-med, $quaternary-color, true, false, false, false, darken($quaternary-color, 10%), $primary-color, true, $primary-color);
	}
}

.row.identification {
	padding: 20px;
	.not_connected {
		a {
			padding:10px;
			color:$primary-color-dark;
			border-bottom:solid 5px $primary-color;

			@include single-transition(border-bottom-color);
			&:hover {
				border-bottom:solid 5px darken($primary-color, 5%);
			}
		}
	}
	.connected {
		height:40px;
		background:darken($primary-color, 10%);
		cursor: pointer;
		overflow: hidden;
		@include dropdown-button(medium, $primary-color);
		@include single-transition(background-color);
		&:after{
		@include single-transition(border-top-color);
		}

		@include radius(20px);
		.icon-user {
			position:absolute;
			width:30px;
			height:30px;
			margin:5px;
			background:$primary-color;

			@include radius(50%);
		}
		p{
			margin-left: 50px;
			color: $primary-color;
			font-size: 1.2rem;
			line-height: 2.6rem;
			@include single-transition(color);
		}
		&:hover{
			background:darken($primary-color, 14%);
			p {
				color: $white;
			}
			&:after {
				border-top-color: $white;
			}
		}
	}
}
