<footer class="footerLayout">
	<div class="row">
		<div class="small-3 medium-2 columns">
			<span class="discover"><a href="{{ path('nastycode_front_posts_posts') }}">Découvrir</a></span>
		</div>
		<div class="small-6 medium-8 columns text-center">
			<span class="heyChef">Ce site a été réalisé en respectant une alimentation saine</span>
		</div>
		<div class="small-3 medium-2 columns">
			<span class="forkus"><a href="https://github.com/jo2selin/NastyCo.de">Forkez nous sur GitHub</a></span>
		</div>
	</div>
</footer>