<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="initial-scale=1">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('bundles/nastycodefront/css/normalize.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/nastycodefront/css/styles.min.css') }}">
    
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />    
</head>
