<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}NastyCo.de{% endblock %}</title>
  </head>
  <body>

    {% block body %}
    {% endblock %}

    {% block footer %}
    {% endblock %}

  </body>
</html>