{% if user.pictureName %}
    <img src="{{ asset(user.getWebPath()) }}" alt="profile picture">
{% else %}
    <img src="http://lorempixel.com/70/70/cats/" alt="profile picture">
{% endif %}

<form action="{{ path('upload_file') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
x
    <input type="submit" value="Uploader">
</form>