{% extends "::base.html.twig" %}
{% block body %}

	<section class="fullWidth orange">
		{% block menu %}
			{{ include("NastycodeFrontBundle::menu.html.twig") }}
		{% endblock %}
		<div class="row text-center">
			<h1>
				<img src="#" alt="NastyCo.de logo">
			</h1>
			<h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h2>
		</div>
	</section>
	<section class="fullWidth darkBlue homeExemple">
		<div class="row">
			<div class="small-12 medium-8 small-centered columns">
				<h3>Comment ça marche ?</h3>
				<p>NastyCo.de vous permet de partager les codes les plus sales que vous rencontrez à travers vos différents projet web.</p>
				<p>Que ce soit le stagiaire, une équipe à l'autre bout du monde ou votre Lead Dev, partagez leurs nastyCodes sur le site, proposez une correction et laissez les internautes donner leurs avis !</p>
			</div>
		</div>
		<article>
			<div class="row">
				<div class="info-author-code small-12 columns">
					<div class="picUser">
						<img src="http://lorempixel.com/70/70/cats/" alt="profile picture"/>
					</div>
					<div class="descrCode">
						<h2><a href="#">K.O code</a> <small>par John</small></h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi accusantium a similique ipsum repellat nulla dicta, expedita officia.</p>
					</div>
				</div>
			</div>
			<div class="row scriptsNastycode">
				<div class="small-12 medium-6 columns">
					<section>
						<header>
							<label>JS</label>
							<h5>K.O code.nasty</h5>
						</header>
						<code class="language-javascript">
var sprite = require('css-sprite');
sprite.create({
	src: ['./src/img/*.png'],
	out: './dist/img'
	name: 'sprites',
	style: './dist/scss/_sprites.scss',
	cssPath: '../img',
	processor: 'scss'
}, function () {
	console.log('done');
});
						</code>
					</section>
				</div>
				<div class="small-12 medium-6 columns">
					<section>
						<header>
							<label>JS</label>
							<h5>John propose cette correction</h5>
						</header>
						<code class="language-javascript">
//Au moins
//une petite
//explication ?
						</code>
					</section>
				</div>
			</div>
		<p class="text-center">
			<a href="#" class="button">Découvrir plus de nastyCodes</a>
			<a href="#" class="button">Publier un nastyCode</a>
		</p>
		</article>
	</section>

{% endblock %}

