<<<<<<< HEAD
{# src/OC/PlatformBundle/Resources/views/Advert/index.html.twig #}

{% extends "::base.html.twig" %}

{% block body %}

  <h1>ahahahaah</h1>
		<form>
=======
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>TITLE</title>
	</head>
	<body>
		<h1>ahahahaah</h1>
		<<form action=""></form>>
>>>>>>> aa9757e85dfbea51946fefb412b7406687fc12de
			{{ form_widget(form) }}
			<input type="submit">
		</form>

{% endblock %}
