{% extends "::base.html.twig" %}

{% block body %}

	<section class="fullWidth orange">
		<div class="row identification">
			<p class="right">
				<a data-dropdown="drop-connexion" aria-controls="drop-connexion" aria-expanded="false">Connexion</a>
				<a data-dropdown="drop-inscription" aria-controls="drop-inscription" aria-expanded="false">Inscription</a>
				<div id="drop-connexion" data-dropdown-content class="f-dropdown content" aria-hidden="true" tabindex="-1">
					<form>
						<input type="text" name="" value="" placeholder="">
						<input type="submit">
					</form>
				</div>
				<div id="drop-inscription" data-dropdown-content class="f-dropdown content" aria-hidden="true" tabindex="-1">
					<form>
						{{ form_widget(form) }}
						<input type="submit">
					</form>
				</div>
			</p>
		</div>
		<div class="row text-center">
			<h1>
				<img src="#" alt="NastyCo.de logo">
			</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
		</div>
		<div class="row">
			<div class="small-3 small-centered columns">
				<p class="text-center">
					<a href="#" class="button">Découvrir</a>
				</p>
			</div>
		</div>
	</section>
	<section class="fullWidth darkBlue">
		<a href="#" class="button">Découvrir</a>
		<a href="#" class="button">Publier</a>
	</section>

{% endblock %}
{% block javascripts %}
	{{ include("NastycodeFrontBundle:Home:javascripts.html.twig") }}
{% endblock %}

