{% extends "::base.html.twig" %}
{% block body %}

	<section class="fullWidth orange">
		{% block menu %}
			{{ include("NastycodeFrontBundle::menu.html.twig") }}
		{% endblock %}
		<div class="row text-center">
			<h1>
				<img src="#" alt="NastyCo.de logo">
			</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
		</div>
		<div class="row">
			<div class="small-3 small-centered columns">
				<p class="text-center">
					<a href="#" class="button">Découvrir</a>
				</p>
			</div>
		</div>
	</section>
	<section class="fullWidth darkBlue">
		<a href="#" class="button">Découvrir</a>
		<a href="#" class="button">Publier</a>
	</section>

{% endblock %}

