{% extends "::base.html.twig" %}
{% block body %}

	<section class="fullWidth grey sectionPosts">
		{% block menu %}
			{{ include("NastycodeFrontBundle::menu.html.twig") }}
		{% endblock %}
		<article>
			<div class="row">
				<div class="info-author-code small-12 columns">
					<div class="picUser">
						<img src="http://lorempixel.com/70/70/cats/" alt="profile picture"/>
					</div>
					<div class="descrCode">
						<h2>K.O code <small>par John</small></h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi accusantium a similique ipsum repellat nulla dicta, expedita officia.</p>
					</div>
				</div>
			</div>
			<div class="row scriptsNastycode">
				<div class="small-12 medium-6 columns">
					<section>
						<header>
							<label>JS</label>
							<h5>nastyCode</h5>
						</header>
						<code>
							< script ><br/>
							Lorem ipsum.<br/>
							Lorem ipsum dolor sit.<br/>
							Lorem ipsum dolor.<br/>
							Lorem<br/>
							< /script >
						</code>
					</section>
				</div>
				<div class="small-12 medium-6 columns">
					<section>
						<header>
							<label>JS</label>
							<h5>John propose cette correction</h5>
						</header>
						<code>
							//Au moins<br/>
							//une petite<br/>
							//explication ?
						</code>
					</section>
				</div>
			</div>
		</article>

		<article>
			<div class="row">
				<div class="info-author-code small-12 columns">
					<div class="picUser">
						<img src="http://lorempixel.com/70/70/" alt="profile picture"/>
					</div>
					<div class="descrCode">
						<h2>top <small>par John</small></h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos in neque cumque itaque quia deleniti, possimus, praesentium aliquid ab ratione voluptates tempora, voluptatibus. Suscipit ipsam itaque corrupti debitis cum repellat laboriosam officiis!</p>
					</div>
				</div>
			</div>
			<div class="row scriptsNastycode">
				<div class="small-12 medium-6 columns">
					<section>
						<header>
							<label>PHP</label>
							<h5>nastyCode</h5>
						</header>
						<code>
							< script ><br/>
							Lorem ipsum.<br/>
							Lorem ipsum dolor sit.<br/>
							Lorem ipsum dolor.<br/>
							Lorem<br/>
							< /script >
						</code>
					</section>
				</div>
				<div class="small-12 medium-6 columns">
					<section>
						<header>
							<label>PHP</label>
							<h5>John propose cette correction</h5>
						</header>
						<code>
							//Au moins<br/>
							//une petite<br/>
							//explication ?
						</code>
					</section>
				</div>
			</div>
		</article>

	</section>

{% endblock %}

