{% extends "::base.html.twig" %}
{% block body %}

	<section class="fullWidth grey sectionPosts">
		{% block menu %}
			{{ include("NastycodeFrontBundle::menu.html.twig") }}
		{% endblock %}
		<article>
			<div class="row">
				<div class="info-author-code small-12 columns">
					<div class="picUser">
						<img src="http://lorempixel.com/70/70/cats/" alt="profile picture"/>
					</div>
					<div class="descrCode">
						<h2><a href="#">K.O code</a> <small>par John</small></h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi accusantium a similique ipsum repellat nulla dicta, expedita officia.</p>
					</div>
				</div>
			</div>
			<div class="row scriptsNastycode">
				<div class="small-12 medium-6 columns">
					<section>
						<header>
							<label>JS</label>
							<h5>K.O code.nasty</h5>
						</header>
						<code class="language-javascript">
var sprite = require('css-sprite');
sprite.create({
	src: ['./src/img/*.png'],
	out: './dist/img'
	name: 'sprites',
	style: './dist/scss/_sprites.scss',
	cssPath: '../img',
	processor: 'scss'
}, function () {
	console.log('done');
});
						</code>
					</section>
				</div>
				<div class="small-12 medium-6 columns">
					<section>
						<header>
							<label>JS</label>
							<h5>John propose cette correction</h5>
						</header>
						<code class="language-javascript">
//Au moins
//une petite
//explication ?
						</code>
					</section>
				</div>
			</div>
			<div class="row comments">
				<div class="small-12 medium-6 columns">
					<h4>936 Commentaires</h4>
					<div class="comment">
						<div class="userpicComment">
							<img src="http://lorempixel.com/50/50/cats/" alt="profile picture"/>
						</div>
						<div class="userComment">
							<header>Francky</header>
							<p>trop cool</p>
						</div>
					</div>
					<div class="comment">
						<div class="userpicComment">
							<img src="http://lorempixel.com/50/50/cats/" alt="profile picture"/>
						</div>
						<div class="userComment">
							<header>Vincent</header>
							<p>Trop des barres, Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos quasi fugiat culpa cumque consequuntur, dolor fugit neque, ipsam.</p>
						</div>
					</div>
					<p class="text-center">
					<a href="#">voir tous les commentaires</a>
					</p>	
				</div>
				<div class="small-12 medium-6 columns">
					<h4>Ecrire un commentaire:</h4>
					<form class="commentForm" action="#">
						<ul>
							<li><textarea  class="commentFormArea"></textarea></li>
							<li><input class="commentFormsubmit" type="submit" value="Envoyer"></li>
						</ul>
					</form>
					<p class="text-center">Pour laisser un commentaire, <a href="#">veuillez vous connecter</a>.</p>
				</div>
			</div>
		</article>

		<article>
			<div class="row">
				<div class="info-author-code small-12 columns">
					<div class="picUser">
						<img src="http://lorempixel.com/70/70/" alt="profile picture"/>
					</div>
					<div class="descrCode">
						<h2><a href="#">top</a> <small>par John</small></h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos in neque cumque itaque quia deleniti, possimus, praesentium aliquid ab ratione voluptates tempora, voluptatibus. Suscipit ipsam itaque corrupti debitis cum repellat laboriosam officiis!</p>
					</div>
				</div>
			</div>
			<div class="row scriptsNastycode">
				<div class="small-12 medium-6 columns">
					<section>
						<header>
							<label>PHP</label>
							<h5>top.nasty</h5>
						</header>
						<code class="language-php">
// cet escroc de stagiaire...
class Database  
{ 
    var $sel; 
    var $con;  
     
    function __construct() 
    { 
        $this->connect(); 
    } 
    function connect() 
    { 
        $this->con = mysql_connect("","","") or die(mysql_error()); 
        $this->sel = mysql_select_db("") or die(mysql_error()); 
    } 
     
    function close() 
    { 
        if(isset($this->connect)) 
        { 
            mysql_close($this->connect); 
            unset($this->connect); 
        } 
    } 
     
    function query($res) 
    { 
      mysql_query($res) or die(mysql_error()); 
    } 
} 


$database = new Database; 
$database->connect(); 
						</code>
					</section>
				</div>
				<div class="small-12 medium-6 columns">
					<section>
						<header>
							<label>PHP</label>
							<h5>John propose cette correction</h5>
						</header>
						<code class="language-php">
//Au moins
//une petite
//explication ?
						</code>
					</section>
				</div>
			</div>
			<div class="row comments">
				<div class="small-12 medium-6 columns">
					<h4>0 Commentaires</h4>
					<p class="text-center">
					Soyez le premier à commenter ce nastyCode.
					</p>	
				</div>
				<div class="small-12 medium-6 columns">
					<p class="text-center">Pour laisser un commentaire, <a href="#">veuillez vous connecter</a>.</p>
				</div>
			</div>
		</article>

	</section>

{% endblock %}

